<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Done Manager
    <:subtitle>Household tasks that get done.</:subtitle>
  </.header>

  <div :if={@current_scope} class="mt-4">
    <.button variant="primary" navigate={~p"/households"}>Go to your households</.button>
  </div>

  <div :if={is_nil(@current_scope)} class="mt-4">
    <.button variant="primary" href={~p"/auth/auth0"}>Log in</.button>
  </div>
</Layouts.app>
